

    <title>Personal AIDE</title>
        <button style="float: right; margin-right: 10px; margin-top:10px;" class="w3-button w3-padding-large w3-white w3-border" > <a  href="#!signup">Sign Up</a></button>

    
    <div class="w3-content" style="max-width:1400px">
        <!-- Header -->
        <header class="w3-container w3-center w3-padding-32">
            <h1><b>Personal AIDE</b></h1>
            <p>Never miss your  <span class="w3-tag">CONTACT......</span></p>
        </header>
        
        <!-- Grid -->
        <div class="w3-row" >
            <!-- Blog entries -->
            <div class="w3-col 10 m6">
                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    
                    
                    <div class="w3-container">
                        <center><h3><b>Login</b></h3>
                        
                    </div>
                    
                    <div class="w3-container">
                        
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <form  name="RegisterForm"> 
                                    <div  class="form-group" >  
                                        <label >UserName</label>    
                                        <input type="text" class="form-control" id="userName" placeholder="Enter Username" name="User_Name" required="true" ng-minlength=3 ng-model="login.userName">
                                        
                                    </div>
                                    <div  class="form-group">
                                        <label >Password</label>
                                        <input type="password" class="form-control" id="password" placeholder="Enter Password" name="Password" required="true" ng-model="login.password">
                                        
                                        
                                    </div>
                                    
                                    <br><br>
                                    
                                    <center><p><button style="margin-left: 70px;display: inline-block;"   class="w3-button w3-padding-large w3-white w3-border" ng-disabled="RegisterForm.$invalid"   ng-click="login()"><b>Login</b></button></p>
                                     <p></center>
                                </form>
                                
                                <span  style="color: red" ng-show="showErrorMessage">Invalid UserName or Password </span>
                            </div>
                        </div>
                    </div>
                </div>
                
            